# Required
SQS_QUEUE=https://sqs.ap-southeast-1.amazonaws.com/123456789012/my-queue.fifo
S3_BUCKET_NAME=my-document-bucket
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
LLM_MODEL=/absolute/path/to/embedding-model.gguf

# Optional
APP_ENV=development
AWS_REGION=ap-southeast-1
DB_NAME=postgres
POLL_INTERVAL_SECONDS=5
SQS_WAIT_TIME_SECONDS=20
SQS_VISIBILITY_TIMEOUT_SECONDS=3600
SQS_VISIBILITY_HEARTBEAT_SECONDS=300
DOCUMENTS_TABLE=documents
DOCUMENT_ID_COLUMN=id
DOCUMENT_S3_KEY_COLUMN=content
DOCUMENT_STATUS_COLUMN=status
DOCUMENT_EMBEDDINGS_TABLE=document_embeddings
DOCUMENT_EMBEDDINGS_DOCUMENT_ID_COLUMN=document_id
DOCUMENT_EMBEDDINGS_CHUNK_INDEX_COLUMN=chunk_index
DOCUMENT_EMBEDDINGS_CONTENT_COLUMN=content
DOCUMENT_EMBEDDINGS_VECTOR_COLUMN=embedding
EMBEDDING_STORAGE_FORMAT=vector
EMBEDDING_CHUNK_SIZE=1000
EMBEDDING_CHUNK_OVERLAP=200
